.sticky {
  display: block;
}

.hb-single {
	
  .post,
  .page {
    margin: 0 0 1.5em;

    .entry-title {
      margin: 0;
    }
    .entry-meta {
      @include serif-mix();
      font-style: italic;
      font-size: 0.8em;
    }

    .post-thumbnail {
      margin-top: 1.5em;

      img {
        object-fit: cover;
        height: 250px;
        width: 100%;
      }

      &.no-thumbnail {
        display: none;
      }
    }

    .entry-footer {
      .cat-links,
      .tags-links {
        color: #fff;

        > a {
          background-image: url(assets/cat.svg);
          background-color: $color-primary;
          padding: 3px 5px 3px 23px;
          background-repeat: no-repeat;
          text-decoration: none;
          white-space: nowrap;
          background-position: left center;
          display: inline-block;
          margin: 3px 0;
          color: $color-primary-text;
        }

        > a:hover {
          background-color: $color-accent;
          color: $color-accent-text;
        }
      }

      .tags-links {
        > a {
          background-image: url(assets/tag.svg);
        }
      }
    }
  }
}
.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  @include serif-mix();

  h1, h2, h3, h4, h5, h6 {
    @include serif-mix();
    font-style: italic;
  }
}

.entry-content {
  .post-password-form {
    padding: 1.5em 1.5em 1.5em 9.5em;
    background-image: url(assets/secure.svg);
    background-color: $color-primary;
    background-repeat: no-repeat;
    background-size: 6em;
    background-position: 1.5em;
    margin: 1.5em 0;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
  display: flex;
  align-items: center;

  span, a {
    background-color: $color-primary;
    width: 2em;
    height: 2em;
    display: flex;
    text-align: center;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }
  a:hover {
    background-color: $color-accent;
    color: $color-accent-text;
  }
}
