
.site-main {
	display: flex;
	margin: 0 auto;
	max-width: $size__site-maxwidth;
	padding: 25px 25px 0 25px;
	flex-direction: column;

	> .content {
		flex: 1;
		overflow: hidden;
		margin-right: 0;
	}

	> .widget-area {
		flex: none;
		width: 250px;
	}
}

@media screen and (min-width: 37.5em) {

	.site-main {
		display: flex;
		margin: 0 auto;
		max-width: $size__site-maxwidth;
		padding: $size__site-padding;
		flex-direction: row;
	
		> .content {
			flex: 1;
			overflow: hidden;
			margin-right: $size__site-gutter;
		}
	
		> .widget-area {
			flex: none;
			width: 250px;
		}
	}
}
