.hb-list {
  > article {
    display: grid;
    gap: 0px 25px;
    grid-template-columns: 260px auto;
    grid-template-rows: auto auto 50px;
    grid-template-areas: 
      "post-thumbnail post-header"
      "post-thumbnail post-summary"
      "post-thumbnail post-footer";

    margin: 0 0 $size__site-gutter;
    background-color: $color-primary;
    height: 260px;
    overflow: hidden;

    header {
      grid-area: post-header;
      
      .entry-title {
        margin: 25px 25px 10px 0;
        font-size: 1.9em;
        line-height: 1em;
      }
      .entry-meta {
        font-family: $font-sans-serif;
        font-size: 0.8em;

        a {
          font-weight: 700;
        }
      }
    }

    .post-thumbnail {
      background-position: center center;
      background-color: $color-primary-light;
      grid-area: post-thumbnail;
      font-size: 10em;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      color: #d6d6d6;
      height: 260px;
      width: 260px;
      margin: 0;

      .post-thumbnail-decal {
        clip-path: polygon(0 21%, 100% 0, 100% 100%, 17% 92%, 67% 75%, 0 67%, 65% 41%);
        background-color: $color-primary;
        pointer-events: none;
        margin-left: 249px;
        position: absolute;
        display: block;
        height: 260px;
        width: 12px;
      }

      &.password-protected {
        background-image: url(assets/secure.svg);
        background-repeat: no-repeat;
        background-size: 100px;
        background-color: #d8d0e0;
      }
    }

    .entry-content {
      grid-area: post-summary;
      font-family: $font__secondary;
      margin: 0 25px 0 0;
    }

    .entry-content > * {
      margin: 0;
    }

    footer {
      grid-area: post-footer;
      margin: 0 25px 0 0;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
      }

      .cat-links, .tags-links, .comments-link {
        display: flex;
        align-items: center;
        margin-right: 10px;
        flex-wrap: wrap;
      }

      .cat-img, .tag-img, .comment-img  {
        background-image: url(assets/cat.svg);
        opacity: 0.6;
        display: inline-block;
        width: 24px;
        height: 24px;
      }

      .tag-img {
        background-image: url(assets/tag.svg);
      }

      .comment-img {
        background-image: url(assets/comment.svg);
        opacity: 0.4;
        width: 23px;
        height: 23px;
        background-repeat: no-repeat;
        background-position: 4px 6px;
        background-size: 15px;
      }
    }

  }

}