footer.site-footer {
 background-color: $color__header-footer;
 margin-top: 3em;

 .site-info {
  margin: 0 auto;
  max-width: $size__site-maxwidth;
  padding: 25px;
  color: #fff;

  .sep {
    display: inline;
    margin: 0 10px;
  }
 }
}