.main-navigation {
	display: block;
	margin: 0 auto;
	max-width: $size__site-maxwidth;
	padding: 0 25px 0 25px;

	> div > ul {
		> li > a, > li > a:visited { color: $color__mainnav-level0; }
		> li > a:hover {
			color: $color__mainnav-level0-hover;
			text-decoration: underline;
		}
	}

	ul {
		display: none;
		list-style: none;
		padding-left: 0;
		font-family: $font__main;
		font-weight: 700;
		font-size: 1.1em;
		height: 50px;
		margin: 0;

		ul {
			background-color: $color__header-footer;
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				color: #fff;
				text-decoration: none;
				white-space: normal;
			}

			:hover > a,
			.focus > a {
				color: $color__link;
			}

			a:hover,
			a.focus {
				color: $color__link;
				text-decoration: underline;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		white-space: nowrap;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__link !important;
		text-decoration: underline;
	}
}

.main-navigation.has-header-image {
	padding: 0 25px 0 225px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
	}
	.main-navigation ul.children {
		flex-direction: column;

		li {
			background-color: $color__header-footer;
			padding: 10px 20px 10px 20px;
		}
		li:first-of-type {
			padding: 20px 20px 10px 20px;
		}
		li:last-of-type {
			padding: 10px 20px 20px 20px;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		@include serif-mix();
		display: flex;
		font-style: italic;

		.nav-previous {
			flex: 1 0 50%;
		}
	
		.nav-next {
			text-align: end;
			flex: 1 0 50%;
		}

		.nav-subtitle {
			font-weight: 700;
		}
	}
}
